.title-wrapper {
    height: 80px;
}

.title-container{
    width: 100%;
    background-color: rgba(240,240,240,1);
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    height: 70px;

}

.title-container:hover {
    background-color: #000000;
    text-align: center;
    align: center;
}


.game-title {
    font-weight: bold;
    text-align: center;
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    -webkit-transition: color, font-size .5s;
    transition: color, font-size .5s;
}

.game-title:hover {
    color: #ffffff;
    font-size: 52px;

}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    background-image: url('https://i.imgur.com/gm8qoQm.png');
    background-size: cover;
    color: #000000;
}


td{
    width: 120px;
    height:20px;
    text-align:center;
    border: none;
}

tr{
    width: 75px;
}

.table-title{
    font-weight: bold;
    color: rgba(0,0,0,0);
}


.cardLocation{
    height: 35px;
    max-height: 35px;
    background: -webkit-linear-gradient(#ffffff, #f7f4f4); /* For Safari 5.1 to 6.0 */
    box-shadow: -10px 10px #000000;
    -webkit-transition: box-shadow, -webkit-linear-gradient, background-color, color .5s;
    transition: -webkit-linear-gradient, color .5s;
    transition: box-shadow, .5s;
}

.cardLocation:hover{
    background: -webkit-linear-gradient(#000000, #000000); /* For Safari 5.1 to 6.0 */
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0px 0px rgba(0,0,0,0);
}

.cardLocation:active{
    position: relative;
    top: 1px;
    color: rgba(0,0,0,0);
}

#cardTable{
    height: 100%;
    width: 100%;
}


.columnOfCards{
    height: 100%;
    margin-left: .5em;
    margin-right: .5em;
    margin-top: .5em;
}

.columnOfCards table{
    border-collapse: collapse;
    margin: auto;
}


.hidden{
    visibility: hidden;
}

.lastCard{
    height: 270px;
    min-width: 180px;
    vertical-align: text-top;
    padding-top: 16px;
}

.deck-discard-outer{
    width: 100%;
    overflow: hidden;
    background-color: rgba(240,240,240,.50);
}

.deck-discard-inner{
    width: 100%;
}

.deck-and-discard{
    width: 270px;
    height: 180px;
    background-color: #F0F0F0;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
    -webkit-border-radius: 3px;
    -webkit-transition: background-color, box-shadow .5s;
    transition: background-color, box-shadow .5s;
    color: #000000;
    background-color: rgba(240,240,240,1);
    box-shadow: -5px 5px #000000;
}

.deck:hover {
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0px 0px rgba(0,0,0,0);
}

.deck:active {
    position: relative;
    top: 1px;
}

.deck{
    float: right;
}

.discard{
    float: left;
}

.deck-discard-title{
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
}

.deck-discard-subtitle{
    margin: 0px;
    font-size: .9em;
    text-align: center;
}

.deck-discard-subtitle, #count{
    margin: 0px;
    font-size: .9em;
    text-align: center;
}

#deckButton {
    -webkit-border-radius: 3px;
    width: 110px;
    height: 40px;
    display: inline-block;
    font-size: 14px;
    color: #000000;
    -webkit-transition: background-color, box-shadow .5s;
    transition: background-color, box-shadow .5s;
    border: 5px rgba(240,240,240,.75);
    background-color: rgba(240,240,240,1);
    box-shadow: -5px 5px #000000;
}

#deckButton.hover {
    background-color: #000000;
    color: #ffffff;
    border: 5px solid #000000;
    box-shadow: 0px 0px rgba(0,0,0,0);
}

#moveButton {
    margin-left: 1em;
    -webkit-border-radius: 3px;
    width: 110px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    -webkit-transition: background-color, box-shadow .5s;
    transition: background-color, box-shadow .5s;
    color: #000000;
    border: 5px rgba(240,240,240,.75);
    background-color: rgba(240,240,240,1);
    box-shadow: -5px 5px #000000;

}

#moveButton:hover {
     background-color: #000000;
     color: #ffffff;
     border: 5px solid #000000;
     box-shadow: 0px 0px rgba(0,0,0,0);
}


#moveButton:active {
	position:relative;
	top:1px;
}

#from_col, #to_col {
    -webkit-border-radius: 3px;
    width: 40px;
    height: 40px;
    border: 0px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    background-color: rgba(240,240,240,.75);
}


.move-container{
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.m-button-container{
    float: right;
    width: 50%;
}

.move-text{
    font-size: 15px;
}