body{
background-image: url('https://i.imgur.com/XP9daTE.png');
background-size: cover;
color: #000000;
}

td{
width: 15em;
height:20px;
text-align:center;
background-color: white;
}

tr{
min-width: 240px;
}



.realTitle {
font-weight: bold;
text-align: center;
color: #002800;
font-family: arial;
font-size: 36px;
letter-spacing: 1px;
text-transform: uppercase;

.cardLocation{
height: 35px;
max-height: 35px;
background-color: #F0F0F0;
border: 1px solid black
}

#cardTable{
background-color: #006600;
height: 100%;
width: 100%;
}


.columnOfCards{
    height: 100%;
    min-width: 15em;
    margin-left: .5em;
    margin-right: .5em;
    margin-top: .5em;
}

.columnOfCards table{
min-width: 15em;
border-collapse: collapse;
margin: auto;
}


.hidden{
visibility: hidden;
}

.lastCard{
height: 21em;
min-width: 15em;
vertical-align: text-top;
padding-top: 16px;
}

/*.deck-discard-outer{
width:100%;
background-color: #006600;
overflow: hidden;
}

.deck-discard-inner{
width: 100%;
background-color: #006600;
}*/

.deck{
width: 21em;
height: 15em;
background-color: #F0F0F0;
float: right;
margin-left: 5em;
margin-right: 5em;
margin-top: 1em;
margin-bottom: 1em;
}

.discard{
width: 21em;
height: 15em;
background-color: #F0F0F0;
float: left;
margin-left: 5em;
margin-right: 5em;
margin-top: 1em;
margin-bottom: 1em;
}

.deck-discard-title{
font-size: .5em;
text-align: center;
text-decoration: none;
}

.deck {
border: 2px solid black;
}
}