<head>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
    <div class="title-wrapper"><div class="title-container"><h1 class="game-title"> Aces Up Solitaire </h1></div></div>

    <link href="/assets/css/AcesUp.css" rel="stylesheet">
    <script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>
</head>

<body>

<div class="move-container">
    <BR> Move from column <input type="text" id="from_col"  /> to <input type="text" id="to_col"  />  <button id="moveButton">Move</button>
</div>


<table id="cardTable">
    <tr class="table-title">
        <td>Column 0</td>
        <td >Column 1</td>
        <td >Column 2</td>
        <td >Column 3</td>
    </tr>

    <tr class="cols">
        <td class="columnOfCards" id="c0">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1 hidden"></td></tr>
                <tr><td class="cardLocation l2 hidden"></td></tr>
                <tr><td class="cardLocation l3 hidden"></td></tr>
                <tr><td class="cardLocation l4 hidden"></td></tr>
                <tr><td class="cardLocation l5 hidden"></td></tr>
                <tr><td class="cardLocation l6 hidden"></td></tr>
                <tr><td class="cardLocation l7 hidden"></td></tr>
                <tr><td class="cardLocation l8 hidden"></td></tr>
                <tr><td class="cardLocation l9 hidden"></td></tr>
                <tr><td class="cardLocation l10 hidden"></td></tr>
                <tr><td class="cardLocation l11 hidden"></td></tr>
                <tr><td class="cardLocation l12 hidden"></td></tr>
                <tr><td class="cardLocation l13 hidden"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c1">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1 hidden"></td></tr>
                <tr><td class="cardLocation l2 hidden"></td></tr>
                <tr><td class="cardLocation l3 hidden"></td></tr>
                <tr><td class="cardLocation l4 hidden"></td></tr>
                <tr><td class="cardLocation l5 hidden"></td></tr>
                <tr><td class="cardLocation l6 hidden"></td></tr>
                <tr><td class="cardLocation l7 hidden"></td></tr>
                <tr><td class="cardLocation l8 hidden"></td></tr>
                <tr><td class="cardLocation l9 hidden"></td></tr>
                <tr><td class="cardLocation l10 hidden"></td></tr>
                <tr><td class="cardLocation l11 hidden"></td></tr>
                <tr><td class="cardLocation l12 hidden"></td></tr>
                <tr><td class="cardLocation l13 hidden"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c2">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1 hidden"></td></tr>
                <tr><td class="cardLocation l2 hidden"></td></tr>
                <tr><td class="cardLocation l3 hidden"></td></tr>
                <tr><td class="cardLocation l4 hidden"></td></tr>
                <tr><td class="cardLocation l5 hidden"></td></tr>
                <tr><td class="cardLocation l6 hidden"></td></tr>
                <tr><td class="cardLocation l7 hidden"></td></tr>
                <tr><td class="cardLocation l8 hidden"></td></tr>
                <tr><td class="cardLocation l9 hidden"></td></tr>
                <tr><td class="cardLocation l10 hidden"></td></tr>
                <tr><td class="cardLocation l11 hidden"></td></tr>
                <tr><td class="cardLocation l12 hidden"></td></tr>
                <tr><td class="cardLocation l13 hidden"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c3">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1 hidden"></td></tr>
                <tr><td class="cardLocation l2 hidden"></td></tr>
                <tr><td class="cardLocation l3 hidden"></td></tr>
                <tr><td class="cardLocation l4 hidden"></td></tr>
                <tr><td class="cardLocation l5 hidden"></td></tr>
                <tr><td class="cardLocation l6 hidden"></td></tr>
                <tr><td class="cardLocation l7 hidden"></td></tr>
                <tr><td class="cardLocation l8 hidden"></td></tr>
                <tr><td class="cardLocation l9 hidden"></td></tr>
                <tr><td class="cardLocation l10 hidden"></td></tr>
                <tr><td class="cardLocation l11 hidden"></td></tr>
                <tr><td class="cardLocation l12 hidden"></td></tr>
                <tr><td class="cardLocation l13 hidden"></td></tr>
            </table>
        </td>
    </tr>
</table>

<div class="deck-discard-outer">
    <div class="deck-discard-inner">
        <div id="dealButton" class="deck-and-discard deck">
            <h1 class="deck-discard-title">Deck</h1>
            <h2 class="deck-discard-subtitle">(Click to Deal 4 Cards)</h2>
        </div>
        <div class="deck-and-discard discard">
            <h1 class="deck-discard-title">Discard</h1>
            <h1 class="deck-discard-subtitle">Count:</h1>
            <p class="deck-discard-subtitle" id="count"></p>
        </div>
    </div>
</div>


<script>

var game;

function display(game) {
console.log(game);

$( '.columnOfCards .cardLocation' ).html("");
$( '.columnOfCards .cardLocation' ).addClass("hidden");
$( '.lastCard' ).removeClass("lastCard");

var lastEle;
 $.each(game.cols[0], function( key, val ) {
        $( '#c0 .l'+key ).html(val.value + val.suit);
        $( '#c0 .l'+key ).removeClass("hidden");
        lastEle = key;
    });
 $( '.la0' ).removeClass( '.la0' );
 $( '#c0 .l'+lastEle ).addClass("lastCard la0");

 $.each(game.cols[1], function( key, val ) {
        $( '#c1 .l'+key ).html(val.value + val.suit);
        $( '#c1 .l'+key ).removeClass("hidden");
        lastEle = key;
    });
    $( '.la1' ).removeClass( '.la1' );
 $( '#c1 .l'+lastEle ).addClass("lastCard la1");

 $.each(game.cols[2], function( key, val ) {
        $( '#c2 .l'+key ).html(val.value + val.suit);
        $( '#c2 .l'+key ).removeClass("hidden");
        lastEle = key;
    });
    $( '.la2' ).removeClass( '.la2' );
 $( '#c2 .l'+lastEle ).addClass("lastCard la2");

 $.each(game.cols[3], function( key, val ) {
        $( '#c3 .l'+key ).html(val.value + val.suit);
        $( '#c3 .l'+key ).removeClass("hidden");
        lastEle = key;
    });
    $( '.la3' ).removeClass( '.la3' );
 $( '#c3 .l'+lastEle ).addClass("lastCard la3");
 $("p").html(game.removeCount);

assignRemoves();

if(userWon == true) {
    alert("Congrats! You won!");
}
}

// Calls ApplicationController.gameGet()
$.getJSON("http://localhost:8080/game", function( data ) {
display(data);
game = data;
});


$("#dealButton").click(function(){
$.ajax({
  type: "POST",
  url: "/dealGame",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});


function removeCard(colNumber){
$.ajax({
type: "POST",
url: "/removeCard/"+colNumber,
data: JSON.stringify(game),
success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
game = data;
display(data);},
contentType:"application/json; charset=utf-8",
dataType:"json",
});

}


function assignRemoves(){
$(".la0").click(function(){
    removeCard(0);
});
$(".la1").click(function(){
    removeCard(1);
});
$(".la2").click(function(){
    removeCard(2);
});
$(".la3").click(function(){
    removeCard(3);
});
}



$("#moveButton").click(function(){
var colFrom = $("#from_col").val();
var colTo = $("#to_col").val();
$.ajax({
  type: "POST",
  url: "/moveCard/"+colFrom+"/"+colTo,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);
            if (game.validMove == false) {
                alert("Invalid Move");
            }},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});


</script>



</body>
</html>
